<head>
  <title>Thanks - 19th dollar</title>
</head>
<div class="wrap">
  <div class="block-45"></div>
  <div class="womeidaitao">
    <img src="assets/images/thanks.gif" alt="Image placeholder">
  </div>
  <div class="thanks">
    <p style="font-size:28px">{{showContent[0]}}</p>
    <p style="font-size:20px">{{showContent[1]}}</p>
  </div>
  <div class="button-wrap">
    <div class="button-row">
      <div class="inner-button-wrap">
        <button mat-raised-button type="button" class="thanks-button-left" routerLink="/visualization">{{showContent[2]}}</button>
      </div>
      <div class="inner-button-wrap">
        <button mat-raised-button type="button" class="thanks-button-right" routerLink="/skill-matcher">{{showContent[3]}}</button>
      </div>
    </div>
  </div>
</div>
