.note {
  font-size: 20px;
  font-family: Arial;
  padding: 5px;
}

.mat-submit {
  background-color: green;
  color: #fff;
}

.res-button-row {
  width: 100%;
  padding: 10px 100px;
  text-align: center;
}

.res-btn-row-inner {
  text-align: center;
  display: inline;
}

  .res-btn-row-inner button {
    height: 70px;
    width: 243px;
    margin: 20px 40px;
    font-size: 36px;
    color: white;
  }

.inner-button-wrap {
  display: inline-block;
  text-align: inherit;
  width: 50%;
  padding: 30px 0;
}

.button-row-btn {
  background-color: #6c5b7b;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 18px;
}

.checker-wrap {
  margin: 0 20px;
  border-radius: 8px;
  width: 100%;
}

.checker-cal-wrap {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  padding: 25px 40px 0 40px;
}

.checker-res-wrap {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  font-size: 20px;
  padding: 25px 40px 0 40px;
}

.checker-res-info-wrap {
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

.checker-res-info-wrap b {
  color: black;
}

.tooltip-red {
  background-color: #b71c1c;
  font-size: 18px;
}

label {
  margin-right: 15px;
}

p {
  margin: 0;
}

@media screen and (max-width: 800px) {

  .checker-wrap {
    margin: 0 5px;
    border-radius: 8px;
    width: 100%;
  }

  .checker-cal-wrap {
    width: 100%;
    vertical-align: top;
  }

  .checker-res-wrap {
    width: 100%;
    vertical-align: top;
  }

  .res-button-row {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .button-row button {
    margin: 0 5px;
  }
}
