<head>
  <title>Pay checker - 19th dollar</title>
</head>
<div class="wrap">
  <div class="block-45"></div>
  <div class="my-breadcrumb">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/home">{{showContent[30]}}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>{{showContent[0]}}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div class="checker-wrap" layout="row">
    <div style="margin: 15px 0; text-align:center;">
      <p class="note"><b>{{showContent[14]}}</b></p>
      <p class="note"><b>{{showContent[17]}}</b></p>
    </div>
    <div class="checker-cal-wrap">
      <div style="margin: 5px; border-bottom-color: black; border: 3px">
        <mat-vertical-stepper linear #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>{{showContent[1]}}</ng-template>
              <mat-form-field>
                <mat-select placeholder={{showContent[2]}} formControlName="firstCtrl" required (selectionChange)="industryChange(); prepareTable()">
                  <mat-option *ngFor="let industry of industries" [value]="industry">
                    {{industry}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-raised-button color="primary" matStepperNext>{{showContent[16]}}</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>{{showContent[18]}}</ng-template>
              <div>
                <label>{{showContent[3]}}</label>
                <mat-form-field>
                  <mat-select placeholder={{showContent[4]}} formControlName="age" required>
                    <mat-option *ngFor="let age of ages" [value]="age" (click)="detailChange(); getAllWorkType()">
                      {{age}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <label>{{showContent[5]}}</label>
                <mat-form-field>
                  <mat-select placeholder={{showContent[6]}} formControlName="worktype" required>
                    <mat-option *ngFor="let workType of workTypes" [value]="workType" (click)="detailChange(); getAllLevel()">
                      {{workType}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <label>{{showContent[7]}}</label>
                <mat-form-field>
                  <mat-select placeholder={{showContent[8]}} formControlName="level" required>
                    <mat-option *ngFor="let level of levels" [value]="level" (click)="detailChange()">
                      {{level}}
                    </mat-option>
                  </mat-select>
                </mat-form-field><p matTooltip="{{showContent[25]}}" matTooltipClass="tooltip-red" matTooltipPosition="right" aria-label="Button that displays a tooltip when focused or hovered over" style="color: red; width: 30px; height: 56.56px; display:inline-block"><span><img src="assets/images/help.png" style="width:25px;height:25px;" /></span></p>
              </div>
              <div class="button-row">
                <button mat-raised-button color="primary" matStepperPrevious style="margin:5px 20px">{{showContent[19]}}</button>
                <button mat-raised-button [color]="'submit'" (click)="submit()" style="margin:5px 20px">{{showContent[9]}}</button>
              </div>
            </form>
          </mat-step>
        </mat-vertical-stepper>

      </div>
    </div>
    <div class="checker-res-wrap" *ngIf="turnUp">
      <div class="checker-res-info-wrap">
        <h4><b>{{showContent[15]}}</b></h4>
        <p>{{showContent[20]}}<b>{{firstFormGroup.value.firstCtrl}}</b></p>
        <p>{{showContent[21]}}<b>{{secondFormGroup.value.age}}</b></p>
        <p>{{showContent[22]}}<b>{{secondFormGroup.value.worktype}}</b></p>
        <p>{{showContent[23]}}<b>{{secondFormGroup.value.level}}</b></p>
      </div>

      <div class="checker-res-info-wrap">
        <h4><b>{{showContent[11]}}</b></h4>
        <p>{{showContent[24]}}<b>{{hourlyPayRate}}</b></p>
        <p>{{showContent[12]}}<b>{{saturday}}</b></p>
        <p>{{showContent[13]}}<b>{{sunday}}</b></p>
      </div>
    </div>
    <div class="res-button-row" *ngIf="turnUp">
      <h2>{{showContent[27]}}</h2>
      <div class="res-btn-row-inner">
        <button mat-raised-button style="background-color: red;" routerLink="/thanks" (click)="jumpToPageTop()">{{showContent[29]}}</button>
        <button mat-raised-button style="background-color: forestgreen" routerLink="/solutions" (click)="jumpToPageTop()">{{showContent[28]}}</button>
      </div>
    </div>
  </div>
</div>


