<head>
  <title>Bob - 19th dollar</title>
</head>
<div class="wrap">
  <div class="block-45"></div>
  <div class="bob-wrap">
    <div class="bob-image-wrap">
      <img src="assets/images/8296838.jpg" alt="Image placeholder"/>
    </div>
    <div class="bob-text-wrap">
      <p class="bob-p">{{showContent[0]}}</p>
      <p class="bob-p">{{showContent[2]}}</p>
      <p class="bob-p">{{showContent[3]}}</p>
      <p class="bob-p">{{showContent[4]}}</p>
      <p class="bob-p">{{showContent[5]}}</p>
      <p class="bob-p" style="color: red">{{showContent[6]}}</p>
      <p class="bob-p" style="text-align: center">
        <button type="button" mat-raised-button class="bob-btn" routerLink="/paychecker" (click)="jumpToPageTop()">{{showContent[1]}}</button>
      </p>
    </div>
  </div>
</div>
