.button-arrow {
  padding: 25px;
  width: 100%;
  height: 150px;
}

.v-button {
  width: 23%;
  height: 40px;
  text-align: center;
  border: 1px solid #000;
  float: left;
  margin: 10px;
}

.v-button-selected {
  width: 23%;
  height: 40px;
  text-align: center;
  float: left;
  margin: 10px;
}

.mat-selected {
  background-color: #6c5b7b;
  color: #fff;
}

.button-wrap {
  width: 100%;
  margin: 0 10px;
}

.vis {
  text-align: center;
  margin: 20px;
}
