<head>
  <title>Daisy - 19th dollar</title>
</head>
<div class="wrap">
  <div class="daisy-wrap">
    <div class="daisy-image-wrap">
      <img src="assets/images/15633054.jpg" alt="Image placeholder" />
    </div>
    <div class="daisy-text-wrap">
      <p class="daisy-p">{{showContent[0]}}</p>
      <p class="daisy-p">{{showContent[2]}}</p>
      <p class="daisy-p">{{showContent[3]}}</p>
      <p class="daisy-p">{{showContent[4]}}</p>
      <p class="daisy-p">{{showContent[5]}}</p>
      <p class="daisy-p" style="color: red">{{showContent[6]}}</p>
      <p class="daisy-p" style="text-align: center">
        <button mat-raised-button type="button" class="daisy-btn" routerLink="/paychecker" (click)="jumpToPageTop()">{{showContent[1]}}</button>
      </p>
    </div>
  </div>
</div>
