<head>
  <title>Alice - 19th dollar</title>
</head>
<body>
  <div class="wrap">
    <div class="block-45"></div>
    <div class="alice-wrap">
      <div class="alice-image-wrap">
        <img src="assets/images/19305187.jpg" alt="Image placeholder" />
      </div>
      <div class="alice-text-wrap">
        <p class="alice-p">{{showContent[0]}}</p>
        <p class="alice-p">{{showContent[1]}}</p>
        <p class="alice-p">{{showContent[2]}}</p>
        <div class="alice-selection">
          <p class="alice-p">{{showContent[3]}}</p>
          <button type="button" mat-raised-button class="alice-btn" routerLink="/dod" (click)="jumpToPageTop()">{{showContent[8]}}</button>
        </div>
        <div class="alice-selection">
          <p class="alice-p">{{showContent[9]}}</p>
          <button type="button" mat-raised-button class="alice-btn" routerLink="/level" (click)="jumpToPageTop()">{{showContent[10]}}</button>
        </div>
        <div class="alice-selection">
          <p class="alice-p">{{showContent[11]}}</p>
          <button type="button" mat-raised-button class="alice-btn" routerLink="/skill-matcher" (click)="jumpToPageTop()">{{showContent[12]}}</button>
        </div>
        <p class="alice-p" style="color: red">{{showContent[4]}}</p>
      </div>
    </div>
  </div>
</body>
