<title>19th dollar - home</title>
<div class="wrap">
    <div class="block-45">
      <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/big_image_2.jpg); background-position:50% -77.1875px">
        <div class="container">
          <div class="row align-items-center justify-content-center site-hero-inner">
            <div class="col-md-8 text-center">

              <div class="mb-5 element-animate fadeInUp element-animated">
                <div class="block-17">
                  <h1 class="heading mb-4">{{showContent[0]}}</h1>
                 
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
  </div>
      <!-- END section -->

      <section class="block-42 overlap">

        <div class="container">
          <div class="row">
            <div class="col-md-12 d-lg-flex" style="display: flex; align-items: center; justify-content: center;">

              <div class="block-42-text">
                <div class="block-42-meta" style="font-size:24px"><strong>{{showContent[2]}}</strong></div>


              </div>


            </div>

          </div>
          <div class="block-42-title mx-2" style="font-size:24px; text-align: center">
            <a href="../home#persona" style="cursor: pointer; color:white;" class="home-button">{{showContent[3]}}</a>

          </div>
        </div>
      </section>

      <section class="site-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
              <div class="block-16">
                <figure>

                  <iframe style="width: 100%; height: 315px" src="https://www.youtube.com/embed/EBowBwvTAGQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <!--                <a href="https://www.youtube.com/embed/EBowBwvTAGQ" class="play-button popup-vimeo"><span class="ion-ios-play"></span></a>-->

                </figure>
              </div>
            </div>
            <div class="col-md-6 order-md-1">

              <div class="block-15">
                <div class="heading">
                  <h2>{{showContent[5]}}</h2>
                </div>
                <div class="text mb-5">
                  <p class="mb-4" style="font-size: 18px">{{showContent[6]}}</p>
                </div>

              </div>

            </div>

          </div>

        </div>
      </section>
      <!-- END section -->

      <section class="site-section pt-0" id="persona">
        <div class="container" >
          <div class="row">


            <div class="col-md-6 col-lg-4 mb-5">
              <div class="block-43">
                <div class="block-43-icon" align="center">
                  <a href="https://www.the19dollar.ml/alice0" style="margin:0 auto" align="center">
                    <img src="assets/images/Alice.jpg"/>
                  </a>
                  <!--<a class="icon-wrapper" style="margin: 1.235em auto 3.235em auto" href="https://www.the19dollar.ml/alice0">
    <span style="cursor: pointer">
      <span class="icon fa fa-user text-primary"></span>
    </span>
  </a>-->
                </div>
                <div class="block-43-text">
                  <h3 class="block-43-heading" style="text-align: center">{{showContent[9]}}</h3>
                  <p>{{showContent[10]}}</p>
                  <div style="text-align:center;">
                    <a href="https://www.the19dollar.ml/alice0">
                      <button mat-raised-button [color]="'home'">{{showContent[13]}}</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5">
              <div class="block-43">
                <div class="block-43-icon"  align="center">
                  <a href="https://www.the19dollar.ml/bob">
                    <img src="assets/images/Bob.jpg" align="middle"/>
                  </a>
                  <!--<a class="icon-wrapper" style="margin: 1.235em auto 3.235em auto" href="https://www.the19dollar.ml/bob">
    <span style="cursor: pointer">
      <span class="icon fa fa-user text-primary"></span>
    </span>
  </a>-->
                </div>
                <div class="block-43-text">
                  <h3 class="block-43-heading" style="text-align: center">{{showContent[7]}}</h3>
                  <p>{{showContent[8]}}</p>
                  <div style="text-align:center">
                    <a href="https://www.the19dollar.ml/bob">
                      <button mat-raised-button [color]="'home'">{{showContent[13]}}</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-md-6 col-lg-4 mb-5">
              <div class="block-43">
                <div class="block-43-icon" align="center">
                  <a href="https://www.the19dollar.ml/daisy">
                    <img src="assets/images/Daisy.jpg">
                  </a>
                  <!--<a class="icon-wrapper" style="margin: 1.235em auto 3.235em auto" href="https://www.the19dollar.ml/daisy">
    <span style="cursor: pointer">
      <span class="icon fa fa-user text-primary"></span>
    </span>
  </a>-->
                </div>
                <div class="block-43-text">
                  <h3 class="block-43-heading" style="text-align: center">{{showContent[11]}}</h3>
                  <p>{{showContent[12]}}</p>
                  <div style="text-align:center">
                    <a href="https://www.the19dollar.ml/daisy">
                      <button mat-raised-button [color]="'home'">{{showContent[13]}}</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>




    </div>

