<head>
  <title>What's next - 19th dollar</title>
</head>
<div class="wrap">
  <div class="block-45">
    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/big_image_2.jpg); background-position:50% 50%">
      <div class="container">
        <div class="row align-items-center justify-content-center site-hero-inner">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate fadeInUp element-animated">
              <div class="block-17">
                <h1 class="heading mb-4">{{showContent[0]}}</h1>
                
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="block-36">
            <h3 class="block-36-heading">{{showContent[1]}}</h3>
            <ul>
              <li class="active"><a>{{showContent[2]}}</a></li>
              <!--<li><a href="information-steps2.html">Step 2</a></li>
  <li><a href="information-steps3.html">Step 3</a></li>-->
            </ul>
          </div>
        </div>
        <div class="col-md-8 pl-md-5">

          <div class="block-44 d-flex mb-3">
            <div class="block-44-text">
              <h3 class="block-44-heading"><a>{{showContent[3]}}</a></h3>
              <div class="block-44-meta">{{showContent[4]}}</div>

            </div>
          </div>

          <p>
            {{showContent[5]}}<a routerLink="/paychecker" (click)="jumpToPageTop()" style="color: red">{{showContent[6]}}</a>.
          </p>
          <br />
          <div class="block-44 d-flex mb-3">
            <div class="block-44-text">
              <h3 class="block-44-heading"><a>{{showContent[7]}}</a></h3>
              <div class="block-44-meta">{{showContent[8]}}</div>

            </div>
          </div>

          <p>
            {{showContent[9]}}<a routerLink="/related-definition" style="color: red" (click)="jumpToPageTop()">{{showContent[10]}}</a>.
          </p>
          <p>
            {{showContent[11]}}
            <a href="https://www.fairwork.gov.au/language-help/simplified-chinese/issues-in-the-workplace" style="color: red">{{showContent[12]}}</a>.
          </p>
          <br />
          <div class="block-44 d-flex mb-3">
            <!-- <div class="block-44-image"><img src="images/image_tall_1.jpg" alt="Image placeholder"></div> -->
            <div class="block-44-text">
              <h3 class="block-44-heading"><a>{{showContent[13]}}</a></h3>
              <div class="block-44-meta">{{showContent[14]}}</div>

            </div>
          </div>

          <p>
            {{showContent[15]}}
            <a href="https://www.fairwork.gov.au/about-us/news-and-media-releases/2017-media-releases/march-2017/20170327-golden-vision-2nd-penalty-mr" style="color: red">{{showContent[16]}}</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
  </div>
