<head>
  <title>Contact welfare - 19th dollar</title>
</head>
<div class="wrap">
  <div class="block-45">
    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/big_image_2.jpg); background-position:50% -77.1875px">
      <div class="container">
        <div class="row align-items-center justify-content-center site-hero-inner">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate fadeInUp element-animated">
              <div class="block-17">
                <h1 class="heading mb-4">{{showContent[0]}}</h1>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading mb-5">
            <h2 class="heading">{{showContent[1]}}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5">

          <div class="block-33">
            <div class="vcard d-flex">
              <div class="image align-self-center ml-auto order-2 ml-3"><img src="assets/images/phone-1.png" alt="phone here"></div>
              <div class="name-text align-self-center ml-auto order-1 text-right">
                <h2 class="heading">{{showContent[2]}}</h2>

              </div>
            </div>
            <div class="text mb-5">
              <blockquote>
                <p>{{showContent[3]}}</p>
                <p>{{showContent[4]}}</p>
                <p>{{showContent[5]}}</p>
                <p>{{showContent[6]}}</p>
              </blockquote>
            </div>

          </div>

        </div>
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="block-33">
            <div class="vcard d-flex">
              <div class="image align-self-center ml-auto order-2 ml-3"><img src="assets/images/address.png" alt="Person here"></div>
              <div class="name-text align-self-center ml-auto order-1 text-right">
                <h2 class="heading">{{showContent[7]}}</h2>
              </div>
            </div>
            <div class="text mb-5">
              <blockquote>
                <p>
                  {{showContent[8]}}
                </p>
                <p>{{showContent[9]}}</p>
                <p>{{showContent[10]}}</p>

              </blockquote>
            </div>

          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5">

          <div class="block-33">
            <div class="vcard d-flex">
              <div class="image align-self-center ml-auto order-2 ml-3"><img src="assets/images/email.png" alt="Person here"></div>
              <div class="name-text align-self-center ml-auto order-1 text-right">
                <h2 class="heading">{{showContent[11]}}</h2>

              </div>
            </div>
            <div class="text mb-5">
              <blockquote>
                <p>{{showContent[12]}}</p>
                <p>{{showContent[13]}}</p>
                <p>{{showContent[14]}}</p>
                <p></p>
              </blockquote>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
